@import "../../../../assets/styles/auth-form";

.login{
  .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .auth-form{
      .auth-inputs{
        .auth-checkbox{
          align-items: center;
        }
      }
    }

    .page-image{
      margin-top: 106px;
      margin-right: 40px;
    }
  }
}
